.header{
  height: 55px;
  display:flex;
  flex-direction:row;
  justify-content: space-between;

  position:fixed;
  background-color: white;
  top:0;
  left:0;
  right:0;
  border-bottom-width:1px;
  border-bottom-style:solid;
  border-bottom-color:rgb(228,228,228);
  z-index:100;

  }
  .left-section{
    
    margin-left:30px;
    margin-right:50px;
    display:flex;
    
    align-items: center;
  }
  .middle-section{
    flex:1;
  
    max-width: 500px;
    display: flex;
    align-items:center;
    flex-direction: row;
  }
  .right-section{
   
    margin-right:20px;
    width:180px;
    display:flex;
    flex-shrink:0;
    align-items: center;
    justify-content: space-between;
  }
  .hamburger-icon,.upload-icon,.app-icon,.sub-icon,.my-channel{
    width:25px;
  }
  .my-channel{
    border-radius:20px;
  }
  .yt-icon{
      width:100px;
      margin-left:20px;
  }
  .search-bar{
    border-width:1px;
    flex:1;
    height:36px;
    font-size:16px;
    box-shadow: inset 1px 2px 5px rgba(0,0,0,0.05);
    width:0;
    
  }
  .voice-icon{
    height:25px;
    border-radius:20px;
    
  }

  .search-bar::placeholder{
    font-family:roboto,arial ;
    font-size:16px;
  }
  .search-icon{
    height:30px;
    
  }
  .search-button,.voice-button{
    height:40px;
    position:relative;
  }
  .search-button{
    width:60px;
    height:40px;
    background-color: rgb(228, 225, 225);
    border-width:1px;
    
   
    
  }
  .voice-button{
    height:40px;
    border-radius:20px;
    border:none;
    margin-left:10px;
    margin-right:10px;
    position:relative;
    background-color: rgb(228, 223, 217);
  }
  body{
    margin:0;
    padding-top: 80px;;
  }
  .notify{
    position:relative;
  }
  .noti-count{
    position:absolute;
    top:-3px;
    right:-5px;
    font-size:11px;
    border-radius: 20px;
    background-color: rgb(202, 25, 25);
    padding-left: 2px;
    font-family: roboto,arial;
    padding-left:5px;
    padding-right:5px;
    padding-bottom:2px;
    padding-top:2px;
    color:white;
  }
  .search-button .tooltip, .voice-button
  .tooltip{
    font-family: Roboto, Arial;
    position: absolute;
    background-color: gray;
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 2px;
    font-size: 12px;
    bottom: -25px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
    
  
  
    
    
    

  }
  .search-button,.voice-button{
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .search-button:hover .tooltip,.voice-button:hover .tooltip{
    opacity:1;
    
  }
  